header {
	     height: 40px;
	     z-index: 1000;
	     position: fixed;
	 }
	 header nav {
	     position: absolute;
	     top: 100%;
	 }
	 main {
	     position: absolute;
	     top: 40px;
	 }
	 body {
	     margin: 0;
	 }
	 header ,.menu_link {
	     background-color: #111;
	     color: white;
	     width: 100%;
         text-decoration: none;
	 }
	 header .menu_button {
	     border-left: solid 1px white;
	     float: right;
	     width: 70px;
	     height: 100%;
	     text-align: center;
         
	 }
	 header .menu_button span {
	     line-height: 40px;
         
	 }
	 header nav {
	     background-color: #111;
	     color: white;
	     width: 100%;
	 }
	 header nav ul {
	     list-style-type: none;
	     margin: 0;
	     padding: 0;
	 }
	 header nav ul li:first-child {
	     border-top: solid 1px white;
	 }
	 header nav ul li {
	     border-bottom: dotted 1px white;
	     text-align: center;
	     padding: 1em;
	 }
	 main {
	     width: 100%;
	 }
    i{
    margin-top: 10px;
    }